.git                                                                                                                                                                  
.venv                                                                                                                                                                 
__pycache__
*.pyc                                                                                                                                                                 
.python-version                                                                                                                                                     
README.md
justfile
docker-compose.yaml
.env*           